# Location Extraction and Geocoding

This notebook is contains the codes used for location extraction and geocoding.

We extract locations using spaCy pretrained model_lg and geocode the locations using Nominatim and Google Maps API

## Importing the required packages

In [1]:
# Import libriaries for data manipulation 
import pandas as pd
import numpy as np
import sys, os

# Import libriaries for database connection
import base64
from sqlalchemy import create_engine
import iso639
import psycopg2 as pg

# Import libriary for natural language processing 
import nltk

# Import libriary to open URL
import urllib

# Maximise column width
pd.set_option('display.max_colwidth', None)

import warnings
warnings.filterwarnings("ignore")

Adjusting graphics

In [2]:
%%HTML
<style>.dataframe th, td:first-child{background:#3f577c;font-family:monospace;color:white;border:3px solid white;
text-align:left !important;}#codex{float:right;}</style>

## 2. Extracting data from the database

In [3]:
def getCursor():
    database_settings = "dbname=" + dbname + " user=" + user + " host=" + host + " port=" + port + " password=" + password

    engine_url = 'postgresql://' + user + ':' + password + '@' + host + ':'+ port +'/'+dbname
    engine = create_engine(engine_url)

    conn = pg.connect(database_settings)
    cur = conn.cursor()
    return cur,conn,engine

In [4]:
dbname = 'postgres'
user= 'postgres'
host= 'localhost'
port= '5432'
file = open('key.key', 'rb')
key = file.read() # The key will be type bytes
file.close()
password = base64.b64decode(key).decode("utf-8")
cur,conn,engine = getCursor()

In [5]:
schema = 'usa_tweets'
table = 'us_random_points_100k'
schematable = schema + '.' + table

In [6]:
#schematable = "public.test_sample_location_extraction"
schematable = "usa_tweets.us_random_points_100k"
SQL = "SELECT id, date, text, longitude, latittude FROM " + schematable + " limit 20"
print(SQL)
data_plus = pd.read_sql_query(SQL,con=conn)

SELECT id, date, text, longitude, latittude FROM usa_tweets.us_random_points_100k limit 20

In [7]:
data_plus.shape

(20, 5)

## 3. Data Preprocessing

In [8]:
# Remove urls, emojis, special characters
def preprocess_tweets(tweets, remove_tokens = ('\n', '\r', '\t', 'RT', r'[^\x00-\x7f]'),
                meta_information_indicators = ('https:', 'http:', 'www.', '//t.co'),
                allowed_punctuation = (',', '.', '.', '!', '?', ' ', ':', '-', ';','@','`','&')):
    def keep_token(token):
        return token not in remove_tokens and\
        not any(token.startswith(meta_token) for meta_token in meta_information_indicators)
    
    clean_tweets = tweets.apply(lambda x: ' '.join(filter(keep_token, x.split(' '))))
    
    keep_char = lambda t: t.isalnum() or t in allowed_punctuation
    return clean_tweets.apply(lambda x: ''.join(filter(keep_char, list(x))))
    
clean_tweets = preprocess_tweets(data_plus.text)
data_plus['clean_text'] = clean_tweets

In [9]:
data_plus.shape

(20, 6)

### Detecting source language

In [10]:
# Import libriary to detect tweet language 
from langdetect import detect

In [11]:
# Detecting the source language and catching error for undetected cells
def det(x):
    try:
        lang = detect(x)
    except:
        lang = 'Other'
    return lang

data_plus['Lang'] = data_plus['clean_text'].apply(det)

In [12]:
# Saving to postgres
# data_plus.to_sql('us_points_lang_det', engine, if_exists='append', index=False,schema=schema)

In [13]:
# Extracting non english tweets 
df_not_en= data_plus.loc[data_plus['Lang'] != 'en']
df_not_en.shape

(1, 7)

In [14]:
# Extract english tweets 
df_en = data_plus.loc[data_plus['Lang']=='en']
df_en.shape

(19, 7)

### Setting up Google Translate

In [15]:
#pip install google_trans_new

In [16]:
from google_trans_new import google_translator  
translator = google_translator()

In [17]:
# Checking if translator works 
translate_text = translator.translate("Der Himmel ist blau und ich mag Bananen", lang_tgt='en')  
print(translate_text)

The sky is blue and I like bananas

### Running google translate

In [18]:
# Creating list and Index to translate and save each translated result to avoid restarting
# Make sure to run this cell only once to avoid overwritting existing results. 
translated_values = []
currentindex = 0

In [19]:
currentindex

0

In [20]:
for index, row in df_not_en.iloc[currentindex:].iterrows():
    translated_values.append(translator.translate(row['clean_text'], lang_tgt = 'en'))
    print("Added  " + row['clean_text'] )
    print("Index  " + str(currentindex) )
    currentindex = currentindex + 1

Added  Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall
Index  0

In [21]:
translated_values

['Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall ']

In [22]:
# Appending translated values to dataframe
df_translated = df_not_en.assign(translated_text=translated_values)
df_translated

,id,date,text,longitude,latittude,clean_text,Lang,translated_text
12,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall,de,Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall

In [23]:
# Joining the english tweets dataframe with the translated tweets dataframe 
frames = [df_en, df_translated]
df = pd.concat(frames)
df.tail()

,id,date,text,longitude,latittude,clean_text,Lang,translated_text
16,2938573,2020-03-24 18:15:59,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! #nudemodel #softskin #prettygirlchallenge #vegasmodel #brownwomen #attractiveness #nicesmile‚Ä¶ https://t.co/KjZokUMtIf,-115.149000,36.167500,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! nudemodel softskin prettygirlchallenge vegasmodel brownwomen attractiveness nicesmile,en,NaN
17,3343370,2020-03-26 17:55:31,"It‚Äôs a beautiful outside today #westside #hudsonriver #sunnyday @ New York, New York https://t.co/9T8BTxZ1s3",-74.006400,40.714200,"Its a beautiful outside today westside hudsonriver sunnyday @ New York, New York",en,NaN
18,659224,2020-03-13 18:22:29,"Getting randoms!!! (at @DollarTree in San Antonio, TX) https://t.co/be94VLb1cN",-98.684112,29.537573,"Getting randoms!!! at @DollarTree in San Antonio, TX",en,NaN
19,3829834,2020-01-23 00:26:16,"I'm at @ParisBaguetteUs in Berkeley, CA https://t.co/ma1GQmOIb5",-122.268120,37.870085,"Im at @ParisBaguetteUs in Berkeley, CA",en,NaN
12,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall,de,Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall

In [24]:
# Substitute clean text values for NaN in translated values column
df.translated_text.fillna(df.clean_text, inplace=True)

# drop column clean_ text
del df['clean_text']

# Rename translated text to english tweets
df = df.rename(columns ={'translated_text': 'eng_tweets'})
df.tail()

,id,date,text,longitude,latittude,Lang,eng_tweets
16,2938573,2020-03-24 18:15:59,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! #nudemodel #softskin #prettygirlchallenge #vegasmodel #brownwomen #attractiveness #nicesmile‚Ä¶ https://t.co/KjZokUMtIf,-115.149000,36.167500,en,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! nudemodel softskin prettygirlchallenge vegasmodel brownwomen attractiveness nicesmile
17,3343370,2020-03-26 17:55:31,"It‚Äôs a beautiful outside today #westside #hudsonriver #sunnyday @ New York, New York https://t.co/9T8BTxZ1s3",-74.006400,40.714200,en,"Its a beautiful outside today westside hudsonriver sunnyday @ New York, New York"
18,659224,2020-03-13 18:22:29,"Getting randoms!!! (at @DollarTree in San Antonio, TX) https://t.co/be94VLb1cN",-98.684112,29.537573,en,"Getting randoms!!! at @DollarTree in San Antonio, TX"
19,3829834,2020-01-23 00:26:16,"I'm at @ParisBaguetteUs in Berkeley, CA https://t.co/ma1GQmOIb5",-122.268120,37.870085,en,"Im at @ParisBaguetteUs in Berkeley, CA"
12,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,de,Winter is rushing by LoveWhereYouLive kletzschpark @ Kletzsch Park Waterfall

# Data cleaning

In [25]:
# use np.nan for all missing values
df = df.replace('', np.nan).fillna(np.nan)
df = df.replace('-', np.nan).fillna(np.nan)
df = df.replace(' ', np.nan).fillna(np.nan)

# remove empty columns
df = df.dropna(how='all', axis='columns')

# remove rows without text
df = df.dropna(subset=['eng_tweets'])

#Replace @ with at for spaCy syntax 
df.eng_tweets = df.eng_tweets.str.replace("@", "at ")
df.eng_tweets = df.eng_tweets.str.replace("&", "and ")

In [26]:
df.head()

,id,date,text,longitude,latittude,Lang,eng_tweets
0,4247094,2020-04-22 19:33:06,"My beautiful baby boy and our radiant rhododendrons for Earth Day. Unfortunately, Ohio weather killed the blooms last week. Spring in NE Ohio is such a tease, am I right?! I‚Äôm trying my hardest to keep my spirits up.‚Ä¶ https://t.co/zABh9AvGIV",-81.938300,40.809900,en,"My beautiful baby boy and our radiant rhododendrons for Earth Day. Unfortunately, Ohio weather killed the blooms last week. Spring in NE Ohio is such a tease, am I right?! Im trying my hardest to keep my spirits up."
1,5011930,2020-03-01 02:24:31,One of my favorite clients! I‚Äôve been working with #Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. #MyKindOfParty üíõ‚ù§Ô∏èüñ§\n.\n.\n*SpagsNote: Understanding your client and‚Ä¶ https://t.co/vlnxkUn0j7,-121.859169,36.531057,en,One of my favorite clients! Ive been working with Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. MyKindOfParty ..SpagsNote: Understanding your client and
2,3777253,2020-02-06 01:21:45,Once you learn how to control what you react to... you will be so powerful üòåüéØ \n#brizzyondabeat \n\n.\n\nHoodie: SHINE (Still Here Ignoring Negative Energy) LINK IN BIO TO PURCHASE @ Villanova University https://t.co/FoeCi4Iznw,-75.340580,40.034940,en,Once you learn how to control what you react to... you will be so powerful brizzyondabeat .Hoodie: SHINE Still Here Ignoring Negative Energy LINK IN BIO TO PURCHASE at Villanova University
3,2168875,2020-03-19 10:10:57,"First Coronavirus Apple Crisp. Used almond flour. Yummiest @ Arlington, Virginia https://t.co/3o7iufxRwS",-77.085400,38.891400,en,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia"
4,4352763,2020-01-28 19:16:45,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe (Allen Iverson) (#69639) Sz 11.5 In Great Condition w/ Replacement Box Available For $75. Phone Orders Available On This After 12pm PST At 510-227-5386. We‚Äôre‚Ä¶ https://t.co/NlKLuVgbwn,-122.264288,37.775063,en,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe Allen Iverson 69639 Sz 11.5 In Great Condition w Replacement Box Available For 75. Phone Orders Available On This After 12pm PST At 510-227-5386. Were

## 3.2.2 Filtering out remote locations

The goal of this exercise was to predict user's location at the time of sending a tweet. However users may at times mention a location as a reference to past travel histories or as a reference to future travel plans. We refere to any reference of a location where the user is not as a remote location. To filter out remote locations we used two methods.

1. Keyword filtering 
2. Temporal Information Matching

### 3.2.2.1 Keyword Filtering

In [27]:
# defining keywords for historial mentions 

past_keywords = ['travelled to', 'Last week', 'last Monday', 'last tuesday', 
                 'last wednesday', 'last thursday', 'last friday', 'last saturday', 'last month',
                 'last year', 'last winter', 'last summer', 'last autumn' ,'yesterday', 'yesterdays',
                 "I was in ", 'were in', 'I was at', 'I went', 'was at ', 'was in ', 'were at ', 'went to ',
                 "landed from", 'passed through', 'had visited', 'had gone to', "flew from", 'flew in from',
                 'back from', 'past years', 'miss being in', 'years ago', 'days ago ', 'weeks ago',
                 'months ago ', 'hours ago ', 'time ago', 'was leaving in ', 'was staying at', 'was leaving at',
                 'was staying in', 'makes me miss', 'im from', 'are from ','originally from', 'grew up in',
                 'grew up at ', 'is from', 'throwBack', 'tbt', 'throw back', 'this past']
past_searched = '|'.join(past_keywords) # for searching keywords within sentence structures

# Filtering the data to return only data with the specific keyword
# case = False makes the search case insensitive 
# na = false means we dont return errors when there are unexpected types in series 

df_past = df[df["eng_tweets"].str.contains(past_searched, case = False, na = False)]
df_past.head(1)

,id,date,text,longitude,latittude,Lang,eng_tweets
0,4247094,2020-04-22 19:33:06,"My beautiful baby boy and our radiant rhododendrons for Earth Day. Unfortunately, Ohio weather killed the blooms last week. Spring in NE Ohio is such a tease, am I right?! I‚Äôm trying my hardest to keep my spirits up.‚Ä¶ https://t.co/zABh9AvGIV",-81.9383,40.8099,en,"My beautiful baby boy and our radiant rhododendrons for Earth Day. Unfortunately, Ohio weather killed the blooms last week. Spring in NE Ohio is such a tease, am I right?! Im trying my hardest to keep my spirits up."

In [28]:
df_past.shape

(1, 7)

In [29]:
# We add space before and after 'to '

future_keywords = ["going to ",'driving to', "Taking the train to","taking the car to","taking the bus to",
                   "headin to",'heading to', 'headed for', "leave for", "leaving for", 'go to', 'travel to', 'trip to',
                   'travelling to', 'moving to', 'relocating to', 'flying to','will be going', 'will be at ',
                   'will be in ', 'tomorrow', 'next week', 'next days', 'next Monday', 'next Tuesday', 
                   'next Wednesday', 'next Thursday', 'next Friday', 'next Saturday', 'next Sunday', 'next month',
                   'next year', 'weeks from now','next stop ', 'move to ', 'later on ',
                   'later this ', 'leave at', 'in just', 'days left', 'travel' ]
future_searched = '|'.join(future_keywords) # for searching keywords within sentence structures

# filtering data to return only future mentions 

df_future = df[df["eng_tweets"].str.contains(future_searched, case = False, na = False)]
df_future.shape

(0, 7)

In [30]:
# 
question_keywords = ['whats happening in', 'what is happening in']
question_searched = '|'.join(question_keywords) # for searching keywords within sentence structures

# filtering data to return only advertisment mentions

df_question = df[df["eng_tweets"].str.contains(question_searched, case = False, na = False)]
df_question.shape

(0, 7)

In [31]:
# defining keywords for present mentions 
present_keywords = [" am at",'am at ', 'still in','chilling at', 'chilling in',"waiting in line for", 'this week',
                    "just stopped at", "just posted a photo ", ' im at','im at ', 'im in ', 'are at', 'still in',
                    ' are in', ' we at ', ' now in ', ' now at', 'currently in', 'currently at', 'still at']
present_searched = '|'.join(present_keywords) # for searching keywords within sentence structures

# filtering data to return only current mentions 

df_present = df[df["eng_tweets"].str.contains(present_searched, case = False, na = False)]
df_present.shape

(3, 7)

In [32]:
# df-final includes all present tweets and unclassified tweets. Removes tweets classified as past, future or question keywords 
df_final = df[~df["eng_tweets"].str.contains(future_searched, case = False, na = False)& ~df["eng_tweets"].str.contains(past_searched, case = False, na = False)& ~df["eng_tweets"].str.contains(question_searched, case = False, na = False) | df["eng_tweets"].str.contains(present_searched, case = False, na = False)]
df_final.shape

(19, 7)

### 3.2.2.2 Temporal Information extraction

In [33]:
# Loading the spaCy high accuracy english pretrained model
import spacy
from spacy import displacy # Displacy is used to visualise spaCy tokens
nlp =spacy.load('en_core_web_trf') # model trf higher accuracy, bigger model, slower in exercution

In [34]:
def filter_location_entities(entities):
    locations = []
    for entity in entities:
        if entity.label_ == 'DATE':
                locations.append(entity)
                
    return locations

In [35]:
# Extracting date entities from posts
df_final['temporal_IE'] = df_final['eng_tweets'].astype(str).apply(lambda x: filter_location_entities(nlp(x).ents))
df_final.tail()

,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE
16,2938573,2020-03-24 18:15:59,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! #nudemodel #softskin #prettygirlchallenge #vegasmodel #brownwomen #attractiveness #nicesmile‚Ä¶ https://t.co/KjZokUMtIf,-115.149000,36.167500,en,I remember the fun time I had shooting with at WillTileXXX and whoisdamiencain ! Great opportunity with great people! nudemodel softskin prettygirlchallenge vegasmodel brownwomen attractiveness nicesmile,[]
17,3343370,2020-03-26 17:55:31,"It‚Äôs a beautiful outside today #westside #hudsonriver #sunnyday @ New York, New York https://t.co/9T8BTxZ1s3",-74.006400,40.714200,en,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",[]
18,659224,2020-03-13 18:22:29,"Getting randoms!!! (at @DollarTree in San Antonio, TX) https://t.co/be94VLb1cN",-98.684112,29.537573,en,"Getting randoms!!! at at DollarTree in San Antonio, TX",[]
19,3829834,2020-01-23 00:26:16,"I'm at @ParisBaguetteUs in Berkeley, CA https://t.co/ma1GQmOIb5",-122.268120,37.870085,en,"Im at at ParisBaguetteUs in Berkeley, CA",[]
12,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,de,Winter is rushing by LoveWhereYouLive kletzschpark at Kletzsch Park Waterfall,[(Winter)]

In [36]:
#Save Temporal IE
outfilename = ('Temporal_Information.csv')
df_final.to_csv(outfilename)

In [37]:
# Reloading the Temporal Information file to combine extracted tokens.
df = pd.read_csv('Temporal_Information.csv')
df.head()

,Unnamed: 0,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE
0,1,5011930,2020-03-01 02:24:31,One of my favorite clients! I‚Äôve been working with #Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. #MyKindOfParty üíõ‚ù§Ô∏èüñ§\n.\n.\n*SpagsNote: Understanding your client and‚Ä¶ https://t.co/vlnxkUn0j7,-121.859169,36.531057,en,One of my favorite clients! Ive been working with Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. MyKindOfParty ..SpagsNote: Understanding your client and,[five years]
1,2,3777253,2020-02-06 01:21:45,Once you learn how to control what you react to... you will be so powerful üòåüéØ \n#brizzyondabeat \n\n.\n\nHoodie: SHINE (Still Here Ignoring Negative Energy) LINK IN BIO TO PURCHASE @ Villanova University https://t.co/FoeCi4Iznw,-75.340580,40.034940,en,Once you learn how to control what you react to... you will be so powerful brizzyondabeat .Hoodie: SHINE Still Here Ignoring Negative Energy LINK IN BIO TO PURCHASE at Villanova University,[]
2,3,2168875,2020-03-19 10:10:57,"First Coronavirus Apple Crisp. Used almond flour. Yummiest @ Arlington, Virginia https://t.co/3o7iufxRwS",-77.085400,38.891400,en,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia",[]
3,4,4352763,2020-01-28 19:16:45,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe (Allen Iverson) (#69639) Sz 11.5 In Great Condition w/ Replacement Box Available For $75. Phone Orders Available On This After 12pm PST At 510-227-5386. We‚Äôre‚Ä¶ https://t.co/NlKLuVgbwn,-122.264288,37.775063,en,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe Allen Iverson 69639 Sz 11.5 In Great Condition w Replacement Box Available For 75. Phone Orders Available On This After 12pm PST At 510-227-5386. Were,"[Weekly, 2016]"
4,5,7086903,2020-01-13 17:59:08,Now introducing Zero Gravity Massage Chair!! Chair health benefits: üîπReduced stress and Anxiety while increasing productivity and AlertnessüîπImprove your MoodüîπCardiovascular healthüîπmanage lower back painüîπsleep‚Ä¶ https://t.co/1Y2mA80aQu,-96.797700,32.777400,en,Now introducing Zero Gravity Massage Chair!! Chair health benefits: Reduced stress and Anxiety while increasing productivity and AlertnessImprove your MoodCardiovascular healthmanage lower back painsleep,[]

In [38]:
# Dropping the square brackets 
df['temporal_IE'] =  df['temporal_IE'].apply(lambda x: x.replace('[','').replace(']',''))
df.head()

,Unnamed: 0,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE
0,1,5011930,2020-03-01 02:24:31,One of my favorite clients! I‚Äôve been working with #Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. #MyKindOfParty üíõ‚ù§Ô∏èüñ§\n.\n.\n*SpagsNote: Understanding your client and‚Ä¶ https://t.co/vlnxkUn0j7,-121.859169,36.531057,en,One of my favorite clients! Ive been working with Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. MyKindOfParty ..SpagsNote: Understanding your client and,five years
1,2,3777253,2020-02-06 01:21:45,Once you learn how to control what you react to... you will be so powerful üòåüéØ \n#brizzyondabeat \n\n.\n\nHoodie: SHINE (Still Here Ignoring Negative Energy) LINK IN BIO TO PURCHASE @ Villanova University https://t.co/FoeCi4Iznw,-75.340580,40.034940,en,Once you learn how to control what you react to... you will be so powerful brizzyondabeat .Hoodie: SHINE Still Here Ignoring Negative Energy LINK IN BIO TO PURCHASE at Villanova University,
2,3,2168875,2020-03-19 10:10:57,"First Coronavirus Apple Crisp. Used almond flour. Yummiest @ Arlington, Virginia https://t.co/3o7iufxRwS",-77.085400,38.891400,en,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia",
3,4,4352763,2020-01-28 19:16:45,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe (Allen Iverson) (#69639) Sz 11.5 In Great Condition w/ Replacement Box Available For $75. Phone Orders Available On This After 12pm PST At 510-227-5386. We‚Äôre‚Ä¶ https://t.co/NlKLuVgbwn,-122.264288,37.775063,en,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe Allen Iverson 69639 Sz 11.5 In Great Condition w Replacement Box Available For 75. Phone Orders Available On This After 12pm PST At 510-227-5386. Were,"Weekly, 2016"
4,5,7086903,2020-01-13 17:59:08,Now introducing Zero Gravity Massage Chair!! Chair health benefits: üîπReduced stress and Anxiety while increasing productivity and AlertnessüîπImprove your MoodüîπCardiovascular healthüîπmanage lower back painüîπsleep‚Ä¶ https://t.co/1Y2mA80aQu,-96.797700,32.777400,en,Now introducing Zero Gravity Massage Chair!! Chair health benefits: Reduced stress and Anxiety while increasing productivity and AlertnessImprove your MoodCardiovascular healthmanage lower back painsleep,

In [39]:
# Date conversions with timefhuman

from timefhuman import timefhuman
import datetime

In [40]:
def addDate(x):
    splitted_date = x['date'].split('/')
    now = datetime.datetime(int(splitted_date[2][0:4]),int(splitted_date[1]), int(splitted_date[0]),0,0)
    try:
        return timefhuman(x['temporal_IE'].lower(),now=now)
    except: 
        pass

In [41]:
#df['converted_date'] = df.apply(addDate, axis = 1)
#df

In [42]:
# saving the dataset
#df.to_csv('Final_results/temporal_IE_Converted.csv')

## 3.3 Extracting location entities

spaCy's pretrained english trf model contains location entities split into four classes
1. Geopolitical entities (GPE) contains represerntative units such as countries, states and cities
2. Facility entities (FAC) contain buildings, airports, highways and bridges
3. Organisation entities (ORG) include companies agencies and institutions 
3. Location entities (LOC) defines street names, mountains, lakes and water bodies.

In this research we will extract all four location entities

In [43]:
# Defining separate functions to extract each locational entity separately. 
def filter_location_entities(entities):
    locations = []
    for entity in entities:
        if entity.label_ == 'GPE':
                locations.append(entity)
                
    return locations

def filter_location_entities1(entities):
    locations1 = []
    for entity in entities:
        if entity.label_ == 'FAC':
                locations1.append(entity)
                      
    return locations1

def filter_location_entities2(entities):
    locations2 = []
    for entity in entities:
        if entity.label_ == 'ORG':
                locations2.append(entity)
                      
    return locations2

def filter_location_entities3(entities):
    locations3 = []
    for entity in entities:
        if entity.label_ == 'LOC':
                locations3.append(entity)
                      
    return locations3

In [44]:
#Extracting locational entities
df['GPE'] = df['eng_tweets'].astype(str).apply(lambda x: filter_location_entities(nlp(x).ents))
df['FAC'] = df['eng_tweets'].astype(str).apply(lambda x: filter_location_entities1(nlp(x).ents))
df['LOC'] = df['eng_tweets'].astype(str).apply(lambda x: filter_location_entities2(nlp(x).ents))
df['ORG'] = df['eng_tweets'].astype(str).apply(lambda x: filter_location_entities3(nlp(x).ents))
df.head()

,Unnamed: 0,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE,GPE,FAC,LOC,ORG
0,1,5011930,2020-03-01 02:24:31,One of my favorite clients! I‚Äôve been working with #Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. #MyKindOfParty üíõ‚ù§Ô∏èüñ§\n.\n.\n*SpagsNote: Understanding your client and‚Ä¶ https://t.co/vlnxkUn0j7,-121.859169,36.531057,en,One of my favorite clients! Ive been working with Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. MyKindOfParty ..SpagsNote: Understanding your client and,five years,[],[],[(Porsche)],[]
1,2,3777253,2020-02-06 01:21:45,Once you learn how to control what you react to... you will be so powerful üòåüéØ \n#brizzyondabeat \n\n.\n\nHoodie: SHINE (Still Here Ignoring Negative Energy) LINK IN BIO TO PURCHASE @ Villanova University https://t.co/FoeCi4Iznw,-75.340580,40.034940,en,Once you learn how to control what you react to... you will be so powerful brizzyondabeat .Hoodie: SHINE Still Here Ignoring Negative Energy LINK IN BIO TO PURCHASE at Villanova University,,[],[],"[(Villanova, University)]",[]
2,3,2168875,2020-03-19 10:10:57,"First Coronavirus Apple Crisp. Used almond flour. Yummiest @ Arlington, Virginia https://t.co/3o7iufxRwS",-77.085400,38.891400,en,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia",,"[(Arlington), (Virginia)]",[],[],[]
3,4,4352763,2020-01-28 19:16:45,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe (Allen Iverson) (#69639) Sz 11.5 In Great Condition w/ Replacement Box Available For $75. Phone Orders Available On This After 12pm PST At 510-227-5386. We‚Äôre‚Ä¶ https://t.co/NlKLuVgbwn,-122.264288,37.775063,en,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe Allen Iverson 69639 Sz 11.5 In Great Condition w Replacement Box Available For 75. Phone Orders Available On This After 12pm PST At 510-227-5386. Were,"Weekly, 2016",[],[],"[(NDS), (Reebok)]",[]
4,5,7086903,2020-01-13 17:59:08,Now introducing Zero Gravity Massage Chair!! Chair health benefits: üîπReduced stress and Anxiety while increasing productivity and AlertnessüîπImprove your MoodüîπCardiovascular healthüîπmanage lower back painüîπsleep‚Ä¶ https://t.co/1Y2mA80aQu,-96.797700,32.777400,en,Now introducing Zero Gravity Massage Chair!! Chair health benefits: Reduced stress and Anxiety while increasing productivity and AlertnessImprove your MoodCardiovascular healthmanage lower back painsleep,,[],[],[],[]

In [45]:
outfilename = 'loc_entities.csv'
df.to_csv(outfilename)

### Loading data with spaCy locations

In [46]:
df = pd.read_csv('loc_entities.csv')
df.shape

(19, 14)

In [47]:
# Data cleaning: Remove square brakets from location entities
df['GPE'] =  df['GPE'].apply(lambda x: x.replace('[','').replace(']',''))
df['FAC'] =  df['FAC'].apply(lambda x: x.replace('[','').replace(']',''))
df['ORG'] =  df['ORG'].apply(lambda x: x.replace('[','').replace(']',''))
df['LOC'] =  df['LOC'].apply(lambda x: x.replace('[','').replace(']',''))

df

,Unnamed: 0,Unnamed: 0.1,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE,GPE,FAC,LOC,ORG
0,0,1,5011930,2020-03-01 02:24:31,One of my favorite clients! I‚Äôve been working with #Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. #MyKindOfParty üíõ‚ù§Ô∏èüñ§\n.\n.\n*SpagsNote: Understanding your client and‚Ä¶ https://t.co/vlnxkUn0j7,-121.859169,36.531057,en,One of my favorite clients! Ive been working with Porsche for over five years now and ALWAYS appreciate their uber-chic and super-sleek events. MyKindOfParty ..SpagsNote: Understanding your client and,five years,,,Porsche,
1,1,2,3777253,2020-02-06 01:21:45,Once you learn how to control what you react to... you will be so powerful üòåüéØ \n#brizzyondabeat \n\n.\n\nHoodie: SHINE (Still Here Ignoring Negative Energy) LINK IN BIO TO PURCHASE @ Villanova University https://t.co/FoeCi4Iznw,-75.340580,40.034940,en,Once you learn how to control what you react to... you will be so powerful brizzyondabeat .Hoodie: SHINE Still Here Ignoring Negative Energy LINK IN BIO TO PURCHASE at Villanova University,NaN,,,Villanova University,
2,2,3,2168875,2020-03-19 10:10:57,"First Coronavirus Apple Crisp. Used almond flour. Yummiest @ Arlington, Virginia https://t.co/3o7iufxRwS",-77.085400,38.891400,en,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia",NaN,"Arlington, Virginia",,,
3,3,4,4352763,2020-01-28 19:16:45,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe (Allen Iverson) (#69639) Sz 11.5 In Great Condition w/ Replacement Box Available For $75. Phone Orders Available On This After 12pm PST At 510-227-5386. We‚Äôre‚Ä¶ https://t.co/NlKLuVgbwn,-122.264288,37.775063,en,Weekly Specials: NDS 2016 Reebok Question Mid Blue Toe Allen Iverson 69639 Sz 11.5 In Great Condition w Replacement Box Available For 75. Phone Orders Available On This After 12pm PST At 510-227-5386. Were,"Weekly, 2016",,,"NDS, Reebok",
4,4,5,7086903,2020-01-13 17:59:08,Now introducing Zero Gravity Massage Chair!! Chair health benefits: üîπReduced stress and Anxiety while increasing productivity and AlertnessüîπImprove your MoodüîπCardiovascular healthüîπmanage lower back painüîπsleep‚Ä¶ https://t.co/1Y2mA80aQu,-96.797700,32.777400,en,Now introducing Zero Gravity Massage Chair!! Chair health benefits: Reduced stress and Anxiety while increasing productivity and AlertnessImprove your MoodCardiovascular healthmanage lower back painsleep,NaN,,,,
5,5,6,2832061,2020-03-15 21:33:09,@danawhite @mickmaynard2 @seanshelby \n\nYou already know that I am just a phone call/text/DM/PM away. I stay in shap‚Ä¶ https://t.co/bPWFLRdaNv,-104.758317,38.828641,en,at danawhite at mickmaynard2 at seanshelby You already know that I am just a phone calltextDMPM away. I stay in shap,NaN,shap,,,
6,6,7,3392062,2020-02-04 17:42:35,üîäüÜô Female fronted music night in Somerville on 02.20.20! \nPresented by @_DeadHarrison_ #frostofdoom #meltmusic #eranocturna #blacksoulseraphim @ The Jungle Community Music Club https://t.co/JfcHy59Sp5,-71.094648,42.379910,en,Female fronted music night in Somerville on 02.20.20! Presented by at DeadHarrison frostofdoom meltmusic eranocturna blacksoulseraphim at The Jungle Community Music Club,NaN,Somerville,,The Jungle Community Music Club,
7,7,8,1128082,2020-02-24 13:03:52,You can Make Excuses or you can Make Buckets! @FOCUS_Bball @FOCUS_Bball #wet #youngballers #basketball #ballers #ballislife #instagram #hoopers\n#handles #crossover #Sundayfunday \n#basketballvines #jellyfam‚Ä¶ https://t.co/EzccibwIGg,-85.713327,38.270273,en,You can Make Excuses or you can Make Buckets! at FOCUSBball at FOCUSBball wet youngballers basketball ballers ballislife instagram hoopershandles crossover Sundayfunday basketballvines jellyfam,Sundayfunday,,,,
8,8,9,4365499,2020-04-23 09:58:52,I'm at Brown Family Home in AR https://t.co/iK7e6Zmudy,-93.122770,34.096968,en,Im at Brown Family Home in AR,NaN,AR,,,
9,9,10,5875951,2020-02-12 04:15:33,"YAAASSSS we are still working those mitts!!üôå üî• Stay tuned for some some amazing stuff coming your way and a FREE BOXING BOOTCAMP coming soon! Keep up to date here, FaceBook or on our website! üí•ü•ä\n‚Ä¢\n‚Ä¢\n‚Ä¢\n#barbellsgymsc‚Ä¶ https://t.co/R1zbr8V3wC",-80.790810,34.170380,en,"YAAASSSS we are still working those mitts!! Stay tuned for some some amazing stuff coming your way and a FREE BOXING BOOTCAMP coming soon! Keep up to date here, FaceBook or on our website! barbellsgymsc",NaN,,,,
10,10,11,5388863,2020-04-03 23:30:15,"Sincerely, Children‚Äôs Central Pharmacy üíäüíâ @ Children's Wisconsin https://t.co/cSSgheSqtC",-88.023848,43.042307,en,"Sincerely, Childrens Central Pharmacy at Childrens Wisconsin",NaN,,,"Childrens Central Pharmacy, Childrens Wisconsin",
11,11,13,3375845,2020-03-26 21:17:55,"Curbside!\nOrder online, give us a call when you arrive and we'll bring your order right to the car.\nhttps://t.co/Oc5bfC32dL\nhttps://t.co/YovlE1Y8fo\n\n#getbaddogood #curbsidepickup #pizza #growlers #beertogo‚Ä¶ https://t.co/aRnplGjpWF",-70.543000,41.578830,en,"Curbside!Order online, give us a call when you arrive and well bring your order right to the car.https:t.coOc5bfC32dLhttps:t.coYovlE1Y8fogetbaddogood curbsidepickup pizza growlers beertogo",NaN,,,,
12,12,14,5047268,2020-01-31 04:31:44,"A deliciously dope cocktail from mixingup_treats at lotusofsiam! @4rosesbourbon, #Cucumber, #Clove & #Mint and a whole bunch a love!\n‚Äî‚Äî‚Äî\n#thanksbartender #jackieKline #lotusofsiam #tomtom #ohhey #hospitalityfirst‚Ä¶ https://t.co/mtKqRnAY8w",-115.149690,36.115092,en,"A deliciously dope cocktail from mixinguptreats at lotusofsiam! at 4rosesbourbon, Cucumber, Clove and Mint and a whole bunch a love!thanksbartender jackieKline lotusofsiam tomtom ohhey hospitalityfirst",NaN,,,lotusofsiam,
13,13,15,6194170,2020-02-14 18:09:47,Great hop combo. Nice hoppy easy drinker. - Drinking a Blacksmith‚Äôs Pale Ale by Britesmith @ Britesmith Brewing ‚Äî https://t.co/bYSOpm8pqq,-78.743800,42.962800,en,Great hop combo. Nice hoppy easy drinker. - Drinking a Blacksmiths Pale Ale by Britesmith at Britesmith Brewing,NaN,,,"Britesmith, Britesmith Brewing",
14,14,16,2938573,2020-03-24 18:15:59,I remember the fun time I had shooting with @WillTileXXX and whoisdamiencain ! Great opportunity with great people! #nudemodel #softskin #prettygirlchallenge #vegasmodel #brownwomen #attractiveness #nicesmile‚Ä¶ https://t.co/KjZokUMtIf,-115.149000,36.167500,en,I remember the fun time I had shooting with at WillTileXXX and whoisdamiencain ! Great opportunity with great people! nudemodel softskin prettygirlchallenge vegasmodel brownwomen attractiveness nicesmile,NaN,,,nudemodel,
15,15,17,3343370,2020-03-26 17:55:31,"It‚Äôs a beautiful outside today #westside #hudsonriver #sunnyday @ New York, New York https://t.co/9T8BTxZ1s3",-74.006400,40.714200,en,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",NaN,New York,,,
16,16,18,659224,2020-03-13 18:22:29,"Getting randoms!!! (at @DollarTree in San Antonio, TX) https://t.co/be94VLb1cN",-98.684112,29.537573,en,"Getting randoms!!! at at DollarTree in San Antonio, TX",NaN,"San Antonio, TX",DollarTree,,
17,17,19,3829834,2020-01-23 00:26:16,"I'm at @ParisBaguetteUs in Berkeley, CA https://t.co/ma1GQmOIb5",-122.268120,37.870085,en,"Im at at ParisBaguetteUs in Berkeley, CA",NaN,"Berkeley, CA",ParisBaguetteUs,,
18,18,12,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,de,Winter is rushing by LoveWhereYouLive kletzschpark at Kletzsch Park Waterfall,Winter,,Kletzsch Park Waterfall,,

In [48]:
# Drop autogenerated columns 
df.drop(columns = ['Unnamed: 0', 'Unnamed: 0.1'], inplace = True)

In [49]:
# Save the extracted locations to postgres
# df.to_sql('spaCy_full_entities', engine, if_exists='append', index=False,schema=schema)

In [50]:
#Droping rows without any of the four location entities extracted

index_names = df[(df['GPE']== '') & (df['FAC']== '') & (df['ORG']== '') & (df['LOC']== '')].index
df.drop(index_names, inplace = True)
df.shape

(15, 12)

### Increasing location precision 1

Location entities are combined to reduce ambiguity. We start by combining either a FAC, ORG and LOC entity to a corresponding GPE entity.

In [51]:
# Combining locational entities to get finer and more informed place names
# Locations are combined only when both columns are not null

df['FAC_GPE'] = np.where(((df['FAC'] != '') & (df['GPE'] != '')), df['FAC'].str.cat(df['GPE'], sep = ", "), '')
df['ORG_GPE'] = np.where(((df['ORG'] != '') & (df['GPE'] != '')), df['ORG'].str.cat(df['GPE'], sep = ", "), '')
df['LOC_GPE'] = np.where(((df['LOC'] != '') & (df['GPE'] != '')), df['LOC'].str.cat(df['GPE'], sep = ", "), '')

df.tail(2)

,id,date,text,longitude,latittude,Lang,eng_tweets,temporal_IE,GPE,FAC,LOC,ORG,FAC_GPE,ORG_GPE,LOC_GPE
17,3829834,2020-01-23 00:26:16,"I'm at @ParisBaguetteUs in Berkeley, CA https://t.co/ma1GQmOIb5",-122.268120,37.870085,en,"Im at at ParisBaguetteUs in Berkeley, CA",NaN,"Berkeley, CA",ParisBaguetteUs,,,"ParisBaguetteUs, Berkeley, CA",,
18,701873,2020-02-22 21:15:14,Winter is rushing by‚Ä¶ #LoveWhereYouLive #kletzschpark @ Kletzsch Park Waterfall https://t.co/CW1IbIPMbd,-87.929041,43.133278,de,Winter is rushing by LoveWhereYouLive kletzschpark at Kletzsch Park Waterfall,Winter,,Kletzsch Park Waterfall,,,,,

In [52]:
# Combining locational entities to get finer and more informed place names
# Locations are combined only when both columns are not null

#df['FAC_LOC'] = np.where(((df['FAC'] != '') & (df['LOC'] != '')), df['FAC'].str.cat(df['LOC'], sep = ", "), '')
#df['ORG_LOC'] = np.where(((df['ORG'] != '') & (df['LOC'] != '')), df['ORG'].str.cat(df['LOC'], sep = ", "), '')
#df['LOC_FAC'] = np.where(((df['LOC'] != '') & (df['FAC'] != '')), df['LOC'].str.cat(df['FAC'], sep = ", "), '')
#df['FAC_ORG'] = np.where(((df['FAC'] != '') & (df['ORG'] != '')), df['FAC'].str.cat(df['ORG'], sep = ", "), '')
#df['ORG_FAC'] = np.where(((df['ORG'] != '') & (df['FAC'] != '')), df['ORG'].str.cat(df['FAC'], sep = ", "), '')
#df['LOC_ORG'] = np.where(((df['LOC'] != '') & (df['ORG'] != '')), df['LOC'].str.cat(df['ORG'], sep = ", "), '')
#df.tail(2)

### Increasing location precision 2

In [53]:
#FAC_LOC_GPE'] = np.where(((df['FAC_LOC'] != '') & (df['GPE'] != '')), df['FAC_LOC'].str.cat(df['GPE'], sep = ", "), '')
#ORG_LOC_GPE'] = np.where(((df['ORG_LOC'] != '') & (df['GPE'] != '')), df['ORG_LOC'].str.cat(df['GPE'], sep = ", "), '')
#LOC_FAC_GPE'] = np.where(((df['LOC_FAC'] != '') & (df['GPE'] != '')), df['LOC_FAC'].str.cat(df['GPE'], sep = ", "), '')
#FAC_ORG_GPE'] = np.where(((df['FAC_ORG'] != '') & (df['GPE'] != '')), df['FAC_ORG'].str.cat(df['GPE'], sep = ", "), '')
#ORG_FAC_GPE'] = np.where(((df['ORG_FAC'] != '') & (df['GPE'] != '')), df['ORG_FAC'].str.cat(df['GPE'], sep = ", "), '')
#LOC_ORG_GPE'] = np.where(((df['LOC_ORG'] != '') & (df['GPE'] != '')), df['LOC_ORG'].str.cat(df['GPE'], sep = ", "), '')
#

In [54]:
# Drop columns
df.drop(columns = ['date','text','Lang'], inplace = True)

In [55]:
#Extracting only the unique rows

unique_GPE = df.groupby('GPE')['id'].unique()
outfilename = ('unique_GPE.csv')
unique_GPE.to_csv(outfilename)

#unique_FAC_GPE = df.groupby('FAC_GPE')['id'].unique()
#outfilename = ('unique_FAC_GPE.csv')
#unique_FAC_GPE.to_csv(outfilename)
#
#unique_ORG_GPE = df.groupby('ORG_GPE')['id'].unique()
#outfilename = ('unique_ORG_GPE.csv')
#unique_ORG_GPE.to_csv(outfilename)
#
#unique_LOC_GPE = df.groupby('LOC_GPE')['id'].unique()
#outfilename = ('unique_LOC_GPE.csv')
#unique_LOC_GPE.to_csv(outfilename)

#unique_FAC_LOC_GPE = df.groupby('FAC_LOC_GPE')['id'].unique()
#outfilename = ('unique_FAC_LOC_GPE.csv')
#unique_FAC_LOC_GPE.to_csv(outfilename)
#
#unique_FAC_ORG_GPE = df.groupby('FAC_ORG_GPE')['id'].unique()
#outfilename = ('unique_FAC_ORG_GPE.csv')
#unique_FAC_ORG_GPE.to_csv(outfilename)
#
#unique_LOC_FAC_GPE = df.groupby('LOC_FAC_GPE')['id'].unique()
#outfilename = ('unique_LOC_FAC_GPE.csv')
#unique_LOC_FAC_GPE.to_csv(outfilename)
#
#unique_ORG_LOC_GPE = df.groupby('ORG_LOC_GPE')['id'].unique()
#outfilename = ('unique_ORG_LOC_GPE.csv')
#unique_ORG_LOC_GPE.to_csv(outfilename)
#
#unique_ORG_FAC_GPE = df.groupby('ORG_FAC_GPE')['id'].unique()
#outfilename = ('unique_ORG_FAC_GPE.csv')
#unique_ORG_FAC_GPE.to_csv(outfilename)
#
#unique_LOC_ORG_GPE = df.groupby('LOC_ORG_GPE')['id'].unique()
#outfilename = ('unique_LOC_ORG_GPE.csv')
#unique_LOC_ORG_GPE.to_csv(outfilename)

# 3.4 Nominatim Geocoding

#### Setting up Nominatim

In [56]:
# Loading required packages for geocoding with Nominatim
import geopandas as gpd 
import geopy
import matplotlib.pyplot as plt
from functools import partial 
from geopy import distance
from geopy.distance import geodesic
from tqdm import tqdm, tqdm_notebook # progress bar

#initiate 
tqdm.pandas()

In [57]:
# user_agent is used to overide restricts of using Nominatim default user_agent.
locator = geopy.geocoders.Nominatim(user_agent='mygeocoder')

In [58]:
# Set to avoid the error of 'Too many requests 429 error'
from geopy.extra.rate_limiter import RateLimiter
geocode = RateLimiter(locator.geocode, min_delay_seconds=1)

# return locations in english 
geocode = partial(locator.geocode, language = "en", timeout = 300000)

In [59]:
df_GPE = pd.read_csv('unique_GPE.csv')
df_GPE.shape

(8, 2)

In [60]:
#Drop rows with NaN
df_GPE = df_GPE.dropna()
df_GPE

                   GPE         id
1                   AR  [4365499]
2  Arlington, Virginia  [2168875]
3         Berkeley, CA  [3829834]
4             New York  [3343370]
5      San Antonio, TX   [659224]
6           Somerville  [3392062]
7                 shap  [2832061]

### Geocoding with Nominatim

In [61]:
# Creating list and Index to geocode and save each geocoded result to avoid restarting
# Make sure to run this cell only once to avoid overwritting existing results. 
geocoded_values = []
currentindex = 0

In [62]:
currentindex

0

In [63]:
for index, row in df_GPE.iloc[currentindex:].iterrows():
    geocoded_values.append(locator.geocode(row['GPE'], language = 'en',  timeout = 30000,))
    #print("Added  " + row['clean_text'] )
    print("Index  " + str(currentindex) )
    currentindex = currentindex + 1

Index  0
Index  1
Index  2
Index  3
Index  4
Index  5
Index  6

In [64]:
#Use only when index are not matching 

#geocoded_values.pop(1)

In [65]:
# Merging the geocoded values to the df

df_GPE = df_GPE.assign(location=geocoded_values)
df_GPE.head(0)

Empty DataFrame
Columns: [GPE, id, location]
Index: []

In [66]:
df_GPE.head(10)

,GPE,id,location
1,AR,[4365499],"(Argentina, (-34.9964963, -64.9672817))"
2,"Arlington, Virginia",[2168875],"(Arlington, Arlington County, Virginia, 22209, United States, (38.8903961, -77.0841585))"
3,"Berkeley, CA",[3829834],"(University of California, Berkeley, Milvia Street, South Berkeley, Berkeley, Alameda County, California, 95704, United States, (37.8753497, -122.23963364918777))"
4,New York,[3343370],"(New York, United States, (40.7127281, -74.0060152))"
5,"San Antonio, TX",[659224],"(San Antonio, Bexar County, Texas, United States, (29.4246002, -98.4951405))"
6,Somerville,[3392062],"(Somerville, Middlesex County, Massachusetts, United States, (42.3875968, -71.0994968))"
7,shap,[2832061],"(Chappes, Rethel, Ardennes, Grand Est, Metropolitan France, 08220, France, (49.61015, 4.26955))"

In [67]:
# Splitting nominatim location into longitude and latittude 
df_GPE['nomi_long'] = df_GPE['location'].apply(lambda x: x.longitude if x else None)
df_GPE['nomi_lat'] = df_GPE['location'].apply(lambda x: x.latitude if x else None)
df_GPE.head(4)

,GPE,id,location,nomi_long,nomi_lat
1,AR,[4365499],"(Argentina, (-34.9964963, -64.9672817))",-64.967282,-34.996496
2,"Arlington, Virginia",[2168875],"(Arlington, Arlington County, Virginia, 22209, United States, (38.8903961, -77.0841585))",-77.084159,38.890396
3,"Berkeley, CA",[3829834],"(University of California, Berkeley, Milvia Street, South Berkeley, Berkeley, Alameda County, California, 95704, United States, (37.8753497, -122.23963364918777))",-122.239634,37.875350
4,New York,[3343370],"(New York, United States, (40.7127281, -74.0060152))",-74.006015,40.712728

In [68]:
df_merged = pd.merge(df, df_GPE, left_on='GPE', right_on = 'GPE')
df_merged = df_merged[['id_x','eng_tweets', 'GPE', 'temporal_IE', 'location', 'nomi_long', 'nomi_lat','longitude','latittude']]
df_merged

,id_x,eng_tweets,GPE,temporal_IE,location,nomi_long,nomi_lat,longitude,latittude
0,2168875,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia","Arlington, Virginia",NaN,"(Arlington, Arlington County, Virginia, 22209, United States, (38.8903961, -77.0841585))",-77.084159,38.890396,-77.085400,38.891400
1,2832061,at danawhite at mickmaynard2 at seanshelby You already know that I am just a phone calltextDMPM away. I stay in shap,shap,NaN,"(Chappes, Rethel, Ardennes, Grand Est, Metropolitan France, 08220, France, (49.61015, 4.26955))",4.269550,49.610150,-104.758317,38.828641
2,3392062,Female fronted music night in Somerville on 02.20.20! Presented by at DeadHarrison frostofdoom meltmusic eranocturna blacksoulseraphim at The Jungle Community Music Club,Somerville,NaN,"(Somerville, Middlesex County, Massachusetts, United States, (42.3875968, -71.0994968))",-71.099497,42.387597,-71.094648,42.379910
3,4365499,Im at Brown Family Home in AR,AR,NaN,"(Argentina, (-34.9964963, -64.9672817))",-64.967282,-34.996496,-93.122770,34.096968
4,3343370,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",New York,NaN,"(New York, United States, (40.7127281, -74.0060152))",-74.006015,40.712728,-74.006400,40.714200
5,659224,"Getting randoms!!! at at DollarTree in San Antonio, TX","San Antonio, TX",NaN,"(San Antonio, Bexar County, Texas, United States, (29.4246002, -98.4951405))",-98.495141,29.424600,-98.684112,29.537573
6,3829834,"Im at at ParisBaguetteUs in Berkeley, CA","Berkeley, CA",NaN,"(University of California, Berkeley, Milvia Street, South Berkeley, Berkeley, Alameda County, California, 95704, United States, (37.8753497, -122.23963364918777))",-122.239634,37.875350,-122.268120,37.870085

## 3.4.1 Displacement computations

As a ground truth we compute the distance between the GNSS coordinates and the nominatim returned coordinates.

In [69]:
from geopy.distance import geodesic

In [70]:
# Distance function

def distance_calc (row):
    start = (row['latittude'], row['longitude'])
    stop = (row['nomi_lat'], row['nomi_long'])
    try:
        return geodesic(start, stop).km
    except ValueError:
        return np.nan
# try, except used to catch error when computing Null values on coordinates

In [71]:
df_merged['distance_nom'] = df_merged.apply(lambda row: distance_calc (row),axis=1)
df_merged

,id_x,eng_tweets,GPE,temporal_IE,location,nomi_long,nomi_lat,longitude,latittude,distance_nom
0,2168875,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia","Arlington, Virginia",NaN,"(Arlington, Arlington County, Virginia, 22209, United States, (38.8903961, -77.0841585))",-77.084159,38.890396,-77.085400,38.891400,0.154991
1,2832061,at danawhite at mickmaynard2 at seanshelby You already know that I am just a phone calltextDMPM away. I stay in shap,shap,NaN,"(Chappes, Rethel, Ardennes, Grand Est, Metropolitan France, 08220, France, (49.61015, 4.26955))",4.269550,49.610150,-104.758317,38.828641,8000.416703
2,3392062,Female fronted music night in Somerville on 02.20.20! Presented by at DeadHarrison frostofdoom meltmusic eranocturna blacksoulseraphim at The Jungle Community Music Club,Somerville,NaN,"(Somerville, Middlesex County, Massachusetts, United States, (42.3875968, -71.0994968))",-71.099497,42.387597,-71.094648,42.379910,0.942581
3,4365499,Im at Brown Family Home in AR,AR,NaN,"(Argentina, (-34.9964963, -64.9672817))",-64.967282,-34.996496,-93.122770,34.096968,8191.796525
4,3343370,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",New York,NaN,"(New York, United States, (40.7127281, -74.0060152))",-74.006015,40.712728,-74.006400,40.714200,0.166655
5,659224,"Getting randoms!!! at at DollarTree in San Antonio, TX","San Antonio, TX",NaN,"(San Antonio, Bexar County, Texas, United States, (29.4246002, -98.4951405))",-98.495141,29.424600,-98.684112,29.537573,22.196783
6,3829834,"Im at at ParisBaguetteUs in Berkeley, CA","Berkeley, CA",NaN,"(University of California, Berkeley, Milvia Street, South Berkeley, Berkeley, Alameda County, California, 95704, United States, (37.8753497, -122.23963364918777))",-122.239634,37.875350,-122.268120,37.870085,2.573600

In [72]:
#outfilename = ('distances_GPE_nominatim.csv')
#df_merged.to_csv(outfilename)

# 3.5 Geocoding with Google Maps API

code adopted from 'Shane Lynn 5th November 2016'

""" Python script for batch geocoding of addresses using the Google Geocoding API. This script allows for massive lists of addresses to be geocoded for free by pausing when the geocoder hits the free rate limit set by Google (2500 per day). If you have an API key for paid geocoding from Google, set it in the API key section. Addresses for geocoding can be specified in a list of strings "addresses". In this script, addresses come from a csv file with a column "Address". Adjust the code to your own requirements as needed. After every 500 successul geocode operations, a temporary file with results is recorded in case of script failure / loss of connection later. Addresses and data are held in memory, so this script may need to be adjusted to process files line by line if you are processing millions of entries. """

In [73]:
# Import google maps 
import googlemaps
from geopy.geocoders import GoogleV3

import pandas as pd
import requests
import logging
import time

In [74]:
file = open('googleapi.key', 'r')
key2 = file.read()

In [75]:
gmaps = googlemaps.Client(key=key2)
g = GoogleV3(key2)

In [76]:
# Check if network and key are working 
geocode_result = gmaps.geocode('Santa Clara California')

In [77]:
# create a geocoded list containing geocode objects
geocoded = []

In [78]:
logger = logging.getLogger("root")
logger.setLevel(logging.DEBUG)
# create console handler
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)
logger.addHandler(ch)

In [79]:
# Loading the dataset with only unique locational entities to reduce the number of requests
df_GPE_gg = pd.read_csv('unique_GPE.csv')
df_GPE_gg

,GPE,id
0,NaN,[5011930 3777253 4352763 5388863 5047268 6194170 2938573 701873]
1,AR,[4365499]
2,"Arlington, Virginia",[2168875]
3,"Berkeley, CA",[3829834]
4,New York,[3343370]
5,"San Antonio, TX",[659224]
6,Somerville,[3392062]
7,shap,[2832061]

In [80]:
# Drop row with NaN GPE value
df_GPE_gg = df_GPE_gg.dropna()

In [81]:
#------------------ CONFIGURATION -------------------------------

# Set your Google API key here. 
# Example: API_KEY = 'AIzaSyC9azed9tLdjpZNjg2_kVePWvMIBq154eA'
API_KEY = key2
# Backoff time sets how many minutes to wait between google pings when your API limit is hit
#BACKOFF_TIME = 30
# Set your output file name here.
output_filename = 'GPE_gg.csv'
# Set your input file here
input_filename = df_GPE_gg
# Specify the column name in your input data that contains addresses here
address_column_name = "GPE"
# Return Full Google Results? If True, full JSON results from Google are included in output
RETURN_FULL_RESULTS = False

In [82]:
#------------------ DATA LOADING --------------------------------

# Read the data to a Pandas Dataframe
#data = pd.read_csv(input_filename, encoding='utf8')
data = df_GPE_gg

if address_column_name not in data.columns:
	raise ValueError("Missing Address column in input data")

# Form a list of addresses for geocoding:
# Make a big list of all of the addresses to be processed.
addresses = data[address_column_name].tolist()

# **** PLACE SPECIFIC DATA! ****
# If the country of the address is known we can specify the country to reduce bias
#addresses = (data[address_column_name] + ',' + data['County'] + ',Ireland').tolist()

In [83]:
#------------------	FUNCTION DEFINITIONS ------------------------

def get_google_results(GPE, api_key=key2, return_full_response=False):
    """
    Get geocode results from Google Maps Geocoding API.
    
    Note, that in the case of multiple google geocode reuslts, this function returns details of the FIRST result.
    
    @param address: String address as accurate as possible. For Example "18 Grafton Street, Dublin, Ireland"
    @param api_key: String API key if present from google. 
                    If supplied, requests will use your allowance from the Google API. If not, you
                    will be limited to the free usage of 2500 requests per day.
    @param return_full_response: Boolean to indicate if you'd like to return the full response from google. This
                    is useful if you'd like additional location details for storage or parsing later.
    """
    # Set up your Geocoding url
    geocode_url = "https://maps.googleapis.com/maps/api/geocode/json?address={}".format(GPE)
    if api_key is not None:
        geocode_url = geocode_url + "&key={}".format(api_key)
        
    # Ping google for the reuslts:
    results = requests.get(geocode_url)
    # Results will be in JSON format - convert to dict using requests functionality
    results = results.json()
    
    # if there's no results or an error, return empty results.
    if len(results['results']) == 0:
        output = {
            "formatted_address" : None,
            "gg_lat": None,
            "gg_long": None,
            "accuracy": None,
            "google_place_id": None,
            "type": None,
            "postcode": None
        }
    else:    
        answer = results['results'][0]
        output = {
            "formatted_address" : answer.get('formatted_address'),
            "gg_lat": answer.get('geometry').get('location').get('lat'),
            "gg_long": answer.get('geometry').get('location').get('lng'),
            "accuracy": answer.get('geometry').get('location_type'),
            "google_place_id": answer.get("place_id"),
            "type": ",".join(answer.get('types')),
            "postcode": ",".join([x['long_name'] for x in answer.get('address_components') 
                                  if 'postal_code' in x.get('types')])
        }
        
    # Append some other details:    
    output['input_string'] = GPE
    output['number_of_results'] = len(results['results'])
    output['status'] = results.get('status')
    if return_full_response is True:
        output['response'] = results
    
    return output

In [84]:
#------------------ PROCESSING LOOP -----------------------------

# Ensure, before we start, that the API key is ok/valid, and internet access is ok
test_result = get_google_results("London, England", API_KEY, RETURN_FULL_RESULTS)
if (test_result['status'] != 'OK') or (test_result['formatted_address'] != 'London, UK'):
    logger.warning("There was an error when testing the Google Geocoder.")
    raise ConnectionError('Problem with test results from Google Geocode - check your API key and internet connection.')

test_result

Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=London,%20England&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None

{'formatted_address': 'London, UK',
 'gg_lat': 51.5073509,
 'gg_long': -0.1277583,
 'accuracy': 'APPROXIMATE',
 'google_place_id': 'ChIJdd4hrwug2EcRmSrV3Vo6llI',
 'type': 'locality,political',
 'postcode': '',
 'input_string': 'London, England',
 'number_of_results': 1,
 'status': 'OK'}

In [85]:
# Create a list to hold results
results = []
# Go through each address in turn
for address in addresses:
    # While the address geocoding is not finished:
    geocoded = False
    while geocoded is not True:
        # Geocode the address with google
        try:
            geocode_result = get_google_results(address, API_KEY, return_full_response=RETURN_FULL_RESULTS)
        except Exception as e:
            logger.exception(e)
            logger.error("Major error with {}".format(address))
            logger.error("Skipping!")
            geocoded = True
            
        # If we're over the API limit, backoff for a while and try again later.
        if geocode_result['status'] == 'OVER_QUERY_LIMIT':
            logger.info("Hit Query Limit! Backing off for a bit.")
            time.sleep(BACKOFF_TIME * 30) # sleep for 30 minutes
            geocoded = False
        else:
            # If we're ok with API use, save the results
            # Note that the results might be empty / non-ok - log this
            if geocode_result['status'] != 'OK':
                logger.warning("Error geocoding {}: {}".format(address, geocode_result['status']))
            logger.debug("Geocoded: {}: {}".format(address, geocode_result['status']))
            results.append(geocode_result)           
            geocoded = True

    # Print status every 100 addresses
    if len(results) % 100 == 0:
    	logger.info("Completed {} of {} address".format(len(results), len(addresses)))
            
    # Every 50 addresses, save progress to file(in case of a failure so you have something!)
    if len(results) % 50 == 0:
        pd.DataFrame(results).to_csv("{}_bak".format(output_filename))

# All done
logger.info("Finished geocoding all addresses")
# Write the full results to csv using the pandas library.
pd.DataFrame(results).to_csv(output_filename, encoding='utf8')

Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=AR&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: AR: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=Arlington,%20Virginia&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: Arlington, Virginia: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=Berkeley,%20CA&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: Berkeley, CA: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=New%20York&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: New York: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=San%20Antonio,%20TX&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: San Antonio, TX: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=Somerville&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: Somerville: OK
Starting new HTTPS connection (1): maps.googleapis.com:443
https://maps.googleapis.com:443 "GET /maps/api/geocode/json?address=shap&key=AIzaSyDQg_2dUmvXZ0l5TbWhvu_2t8lTc4v_6w8 HTTP/1.1" 200 None
Geocoded: shap: OK
Finished geocoding all addresses

In [86]:
# dataFrame with the google location  
GPE_gg = pd.read_csv("GPE_gg.csv")
GPE_gg= GPE_gg[['input_string','formatted_address', 'gg_lat', 'gg_long']]
GPE_gg

,input_string,formatted_address,gg_lat,gg_long
0,AR,"1020 S Rockford Ave D, Tulsa, OK 74120, USA",36.148173,-95.972508
1,"Arlington, Virginia","Arlington, VA, USA",38.879970,-77.106770
2,"Berkeley, CA","Berkeley, CA, USA",37.871523,-122.273042
3,New York,"New York, NY, USA",40.712775,-74.005973
4,"San Antonio, TX","San Antonio, TX, USA",29.424122,-98.493628
5,Somerville,"Somerville, MA, USA",42.387597,-71.099497
6,shap,"1517 Lititz Pike, Lancaster, PA 17601, USA",40.065606,-76.306414

In [87]:
merged_GPE_gg = pd.merge(GPE_gg, df, left_on = 'input_string', right_on = 'GPE')
merged_GPE_gg = merged_GPE_gg[['id','eng_tweets', 'GPE','formatted_address', 'temporal_IE', 'gg_long', 'gg_lat','longitude','latittude']]
merged_GPE_gg

,id,eng_tweets,GPE,formatted_address,temporal_IE,gg_long,gg_lat,longitude,latittude
0,4365499,Im at Brown Family Home in AR,AR,"1020 S Rockford Ave D, Tulsa, OK 74120, USA",NaN,-95.972508,36.148173,-93.122770,34.096968
1,2168875,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia","Arlington, Virginia","Arlington, VA, USA",NaN,-77.106770,38.879970,-77.085400,38.891400
2,3829834,"Im at at ParisBaguetteUs in Berkeley, CA","Berkeley, CA","Berkeley, CA, USA",NaN,-122.273042,37.871523,-122.268120,37.870085
3,3343370,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",New York,"New York, NY, USA",NaN,-74.005973,40.712775,-74.006400,40.714200
4,659224,"Getting randoms!!! at at DollarTree in San Antonio, TX","San Antonio, TX","San Antonio, TX, USA",NaN,-98.493628,29.424122,-98.684112,29.537573
5,3392062,Female fronted music night in Somerville on 02.20.20! Presented by at DeadHarrison frostofdoom meltmusic eranocturna blacksoulseraphim at The Jungle Community Music Club,Somerville,"Somerville, MA, USA",NaN,-71.099497,42.387597,-71.094648,42.379910
6,2832061,at danawhite at mickmaynard2 at seanshelby You already know that I am just a phone calltextDMPM away. I stay in shap,shap,"1517 Lititz Pike, Lancaster, PA 17601, USA",NaN,-76.306414,40.065606,-104.758317,38.828641

## 3.5.1 Computing displacements

In [88]:
# Distance function

def distance_calc (row):
    start = (row["gg_lat"], row["gg_long"])
    stop = (row['latittude'], row['longitude'])
    try:
        return geodesic(start, stop).km
    except ValueError:
        return np.nan
# try, except used to catch error when computing Null values on coordinates

In [89]:
merged_GPE_gg['distance_google'] = merged_GPE_gg.apply(lambda row: distance_calc (row),axis=1)
merged_GPE_gg

,id,eng_tweets,GPE,formatted_address,temporal_IE,gg_long,gg_lat,longitude,latittude,distance_google
0,4365499,Im at Brown Family Home in AR,AR,"1020 S Rockford Ave D, Tulsa, OK 74120, USA",NaN,-95.972508,36.148173,-93.122770,34.096968,345.309439
1,2168875,"First Coronavirus Apple Crisp. Used almond flour. Yummiest at Arlington, Virginia","Arlington, Virginia","Arlington, VA, USA",NaN,-77.106770,38.879970,-77.085400,38.891400,2.246791
2,3829834,"Im at at ParisBaguetteUs in Berkeley, CA","Berkeley, CA","Berkeley, CA, USA",NaN,-122.273042,37.871523,-122.268120,37.870085,0.461509
3,3343370,"Its a beautiful outside today westside hudsonriver sunnyday at New York, New York",New York,"New York, NY, USA",NaN,-74.005973,40.712775,-74.006400,40.714200,0.162276
4,659224,"Getting randoms!!! at at DollarTree in San Antonio, TX","San Antonio, TX","San Antonio, TX, USA",NaN,-98.493628,29.424122,-98.684112,29.537573,22.347863
5,3392062,Female fronted music night in Somerville on 02.20.20! Presented by at DeadHarrison frostofdoom meltmusic eranocturna blacksoulseraphim at The Jungle Community Music Club,Somerville,"Somerville, MA, USA",NaN,-71.099497,42.387597,-71.094648,42.379910,0.942581
6,2832061,at danawhite at mickmaynard2 at seanshelby You already know that I am just a phone calltextDMPM away. I stay in shap,shap,"1517 Lititz Pike, Lancaster, PA 17601, USA",NaN,-76.306414,40.065606,-104.758317,38.828641,2442.520657

In [90]:
outfilename = ('gg_GPE_displacements.csv')
merged_GPE_gg.to_csv(outfilename)