# Data preprocessing

In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
# from util import getCursor
from IPython.display import display, HTML # import display from Ipython.display instead of IPython.core.display
import base64

# Define display limits
pd.options.display.max_colwidth = 400
pd.set_option("display.max_rows", None,)

# %matplotlib inline  
%load_ext autoreload
%autoreload 2
display(HTML("<style>.container { width:98% !important; }</style>"))

In [3]:
# Loading data
df = pd.read_csv('data2//data2_complete.csv')
df.shape

(164599, 7)

In [4]:
#Drop duplicates incase the same tweet appears twice
df.drop_duplicates(inplace=True, subset="text", keep='first')
df.shape

(161131, 7)

In [5]:
#Drop urls
df['text'] = df['text'].replace(r'http\S+', '', regex=True).replace(r'www\S+', '', regex=True)
df.tail()

,Unnamed: 0,message_id,date,text,source,longitude,latittude
164594,164594,1168614984395493377,2019-09-02 20:01:38,"Vientos de Dorian comienzan a llegar a Broward County , Florida USA",iphone,-80.317631,26.151314
164595,164595,1210318644951076865,2019-12-26 21:57:06,@joefishjames @alexanderussell It‚Äôs fun which is about the best you can expect from a show about a Polish mutant who hunts fantasy monsters with a sword,ios,-97.127894,40.170262
164596,164596,1184805489973972992,2019-10-17 12:16:56,Our Quiche today is Ham & Gruyere and Double Cheddar (meatless) ü§§\nEnjoy a slice for breakfast or lunch! @ The Bexley Coffee Shop,Instagram,-82.931710,39.980590
164597,164597,1173424539130322945,2019-09-16 02:33:05,#atlvsphi Wentz didn't get the ball across on the conversion try. What is going on?,Android,-84.259844,33.957663
164598,164598,1159167411268067328,2019-08-07 18:20:21,Big Phat Pussy. Mufasa! ü¶Åü§£ü§£ü§£,iphone,-84.188910,33.875997

In [ ]:
#Drop hashtag words
#df['text'] = df['text'].replace(r'#\S+', '', regex=True)
#df.tail()

In [6]:
# Drop emojis
df = df.astype(str).apply(lambda x: x.str.encode('ascii', 'ignore').str.decode('ascii'))
df.tail()

,Unnamed: 0,message_id,date,text,source,longitude,latittude
164594,164594,1168614984395493377,2019-09-02 20:01:38,"Vientos de Dorian comienzan a llegar a Broward County , Florida USA",iphone,-80.3176305,26.15131357
164595,164595,1210318644951076865,2019-12-26 21:57:06,@joefishjames @alexanderussell Its fun which is about the best you can expect from a show about a Polish mutant who hunts fantasy monsters with a sword,ios,-97.1278941,40.17026236
164596,164596,1184805489973972992,2019-10-17 12:16:56,Our Quiche today is Ham & Gruyere and Double Cheddar (meatless) \nEnjoy a slice for breakfast or lunch! @ The Bexley Coffee Shop,Instagram,-82.93171,39.98059
164597,164597,1173424539130322945,2019-09-16 02:33:05,#atlvsphi Wentz didn't get the ball across on the conversion try. What is going on?,Android,-84.2598442,33.957662799999994
164598,164598,1159167411268067328,2019-08-07 18:20:21,Big Phat Pussy. Mufasa!,iphone,-84.18890993,33.87599683

In [7]:
# Remove multiple whitespaces, tabs and new lines
df['text'] = df['text'].str.replace('\n', '')
df['text'] = df['text'].str.replace('\t', ' ')
df['text'] = df['text'].str.replace(' {2,}', ' ', regex=True)
df['text'] = df['text'].str.strip()
df.head()

,Unnamed: 0,message_id,date,text,source,longitude,latittude
0,0,1181425472770494464,2019-10-08 04:25:57,@WinTheDay848,ios,-122.49661013,45.42474365
1,1,1187179824189788160,2019-10-24 01:31:41,Also pastors,ios,-87.60335019,41.80377197
2,2,1161754851510030342,2019-08-14 21:41:55,we are in and the tickets are REAL,iphone,-96.71230119,40.81727638
3,3,1197029965797175303,2019-11-20 05:52:38,We should have this 475 ml sugar baby,iphone,-84.38328115,33.76104998
4,4,1195453434780143622,2019-11-15 21:28:03,Guys I got Pokemon Sword Today,Android,-80.2037205,26.663375

In [8]:
#Extract posts with 3 or more words
df['split_text']=df['text'].str.split()
df['WordsCount']=df['split_text'].apply(lambda x: len(x))
df=df[(df['WordsCount']>= 3)]
df.shape

(125094, 9)

In [9]:
#drop duplicates
df.drop_duplicates(inplace=True, subset="text", keep='first')
df.shape

(123472, 9)

In [10]:
df.to_csv('data2//data2_cleaned.csv')