# Language detect, split and Translate

In [1]:
# Import libriaries 
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [2]:
# from util import getCursor
from IPython.display import display, HTML # import display from Ipython.display instead of IPython.core.display
import base64

In [3]:
# Define display limits
pd.options.display.max_colwidth = 400
pd.set_option("display.max_rows", None,)

# %matplotlib inline  
%load_ext autoreload
%autoreload 2
display(HTML("<style>.container { width:98% !important; }</style>"))

## 1. Language detect

In [4]:
from langdetect import detect
import re

In [5]:
df = pd.read_csv('data2//data2_cleaned.csv')
print (df.shape)

(123472, 10)

In [24]:
df = df_not_en2

In [25]:
# Detecting the source language and catching error for undetected cells
def detect_lang(text):
    try:
        lang = detect(text)
    except:
        lang = 'Other'
    return lang

df['lang'] = df['text'].apply(detect_lang)
df.tail(10)

,message_id,date,text,source,longitude,latittude,lang,split_text,WordsCount
123427,1184852325468233728,2019-10-17 15:23:02,se puso un mercado en arboledas!!,Android,-100.356369,25.649205,es,"[se, puso, un, mercado, en, arboledas!!]",6
123429,1184774001542844416,2019-10-17 10:11:48,"@ Paradise Cove , Malibu Beach",Instagram,-118.536983,34.036118,en,"[@, Paradise, Cove, ,, Malibu, Beach]",6
123438,1176192315599273984,2019-09-23 17:51:15,Ladies and gentlemen we got him,Android,-91.530593,41.663649,af,"[Ladies, and, gentlemen, we, got, him]",6
123446,1209590783193559040,2019-12-24 21:44:50,@ xquisite barbershop got me rite!,iphone,-90.034696,29.992697,af,"[@, xquisite, barbershop, got, me, rite!]",6
123447,1184804161042317312,2019-10-17 12:11:39,"UN LUGAR PARA COMENZAR! Cuando se trata de conocer a Dios, todos estamos en diferentes lugares. Algunos estn buscando, otros tienen dudas, algunos son escpticos y otros conocen muy poco sobre la fe. Si deseas",Instagram,-74.012500,40.804200,es,"[UN, LUGAR, PARA, COMENZAR!, Cuando, se, trata, de, conocer, a, Dios,, todos, estamos, en, diferentes, lugares., Algunos, estn, buscando,, otros, tienen, dudas,, algunos, son, escpticos, y, otros, conocen, muy, poco, sobre, la, fe., Si, deseas]",35
123460,1209628934280605697,2019-12-25 00:16:26,"Se canso de ser buena, ahora es ella quien los usa",ios,-111.973819,33.469543,es,"[Se, canso, de, ser, buena,, ahora, es, ella, quien, los, usa]",11
123463,1158919524768292866,2019-08-07 01:55:21,Ok google how to not get diabetes while drinking mdf everyday,ios,-122.428288,37.769653,af,"[Ok, google, how, to, not, get, diabetes, while, drinking, mdf, everyday]",11
123465,1179558353229496320,2019-10-03 00:46:41,1 day down,Android,-82.930835,43.708908,so,"[1, day, down]",3
123467,1168614984395493377,2019-09-02 20:01:38,"Vientos de Dorian comienzan a llegar a Broward County , Florida USA",iphone,-80.317631,26.151314,es,"[Vientos, de, Dorian, comienzan, a, llegar, a, Broward, County, ,, Florida, USA]",12
123471,1159167411268067328,2019-08-07 18:20:21,Big Phat Pussy. Mufasa!,iphone,-84.188910,33.875997,tl,"[Big, Phat, Pussy., Mufasa!]",4

## 2. Split languages

In [26]:
df_en = df.loc[df['lang'] == 'en']
df_en.shape

(1539, 9)

In [27]:
df_en.to_csv('data2//data_english2.csv')

In [28]:
df_not_en = df.loc[df['lang'] != 'en']
df_not_en['lang'].nunique()

31

In [29]:
df_not_en.shape

(14059, 9)

In [30]:
df_not_en2 = df_not_en.loc[df_not_en['lang'] != 'Other']
df_not_en2.shape

(14033, 9)

In [31]:
df_not_en2.head(3)

,message_id,date,text,source,longitude,latittude,lang,split_text,WordsCount
22,1159898752230076416,2019-08-09 18:46:27,Camin arranca cable y deja sin luz calle Ignacio Altamirano entre Melchor Ocampo y Fco Coss,Android,-101.030749,25.412433,es,"[Camin, arranca, cable, y, deja, sin, luz, calle, Ignacio, Altamirano, entre, Melchor, Ocampo, y, Fco, Coss]",16
29,1159597188915322882,2019-08-08 22:48:08,my bad i been slacking,ios,-73.984050,40.701233,sv,"[my, bad, i, been, slacking]",5
30,1196536946857840640,2019-11-18 21:13:33,I'm gonna smoke a cigarette,Android,-77.469984,39.723832,sv,"[I'm, gonna, smoke, a, cigarette]",5

In [18]:
#Drop hashtag words
df_not_en2['text'] = df_not_en2['text'].replace(r'#\S+', '', regex=True)
df_not_en2.shape

(18270, 7)

In [19]:
#Drop @ words
df_not_en2['text'] = df_not_en2['text'].replace(r'@\S+', '', regex=True)
df_not_en2.shape

(18270, 7)

In [20]:
#Drop hashtag words
df_not_en2.head(10)

,message_id,date,text,source,longitude,latittude,lang
5,1178493255786229760,2019-09-30 02:14:22,Evening mood,iphone,-117.463168,34.144678,da
22,1159898752230076416,2019-08-09 18:46:27,Camin arranca cable y deja sin luz calle Ignacio Altamirano entre Melchor Ocampo y Fco Coss,Android,-101.030749,25.412433,es
29,1159597188915322882,2019-08-08 22:48:08,my bad i been slacking,ios,-73.984050,40.701233,so
30,1196536946857840640,2019-11-18 21:13:33,I'm gonna smoke a cigarette,Android,-77.469984,39.723832,sv
31,1184795263308689409,2019-10-17 11:36:17,"@ Louisville, Kentucky",Instagram,-85.755400,38.252500,fi
45,1192876056237297664,2019-11-08 18:46:29,Estoy temblando ahora mismo,ios,-73.569246,45.517792,es
46,1203415581862612993,2019-12-07 20:46:47,now we dont get to see Jalen Hurts v. Alabama.,ios,-87.073622,37.733368,nl
54,1198885923926114307,2019-11-25 08:47:33,IHi guys Im drunk,iphone,-116.236782,33.719138,lt
62,1165672474152976385,2019-08-25 17:09:09,Im Walmart like... yall go get my Onlyfans,iphone,-81.462392,28.515472,sv
78,1193919489970200578,2019-11-11 15:52:43,"Walking to work (@ Roses in Oak Ridge, FL)",Foursquare,-81.407386,28.487601,af

In [22]:
#Extract posts with 3 or more words
df_not_en2['split_text']=df_not_en2['text'].str.split()
df_not_en2['WordsCount']=df_not_en2['split_text'].apply(lambda x: len(x))
df_not_en2=df_not_en2[(df_not_en2['WordsCount']>= 3)]
df_not_en2.shape

(15598, 9)

In [23]:
df_not_en2.head(10)

,message_id,date,text,source,longitude,latittude,lang,split_text,WordsCount
22,1159898752230076416,2019-08-09 18:46:27,Camin arranca cable y deja sin luz calle Ignacio Altamirano entre Melchor Ocampo y Fco Coss,Android,-101.030749,25.412433,es,"[Camin, arranca, cable, y, deja, sin, luz, calle, Ignacio, Altamirano, entre, Melchor, Ocampo, y, Fco, Coss]",16
29,1159597188915322882,2019-08-08 22:48:08,my bad i been slacking,ios,-73.984050,40.701233,so,"[my, bad, i, been, slacking]",5
30,1196536946857840640,2019-11-18 21:13:33,I'm gonna smoke a cigarette,Android,-77.469984,39.723832,sv,"[I'm, gonna, smoke, a, cigarette]",5
31,1184795263308689409,2019-10-17 11:36:17,"@ Louisville, Kentucky",Instagram,-85.755400,38.252500,fi,"[@, Louisville,, Kentucky]",3
45,1192876056237297664,2019-11-08 18:46:29,Estoy temblando ahora mismo,ios,-73.569246,45.517792,es,"[Estoy, temblando, ahora, mismo]",4
46,1203415581862612993,2019-12-07 20:46:47,now we dont get to see Jalen Hurts v. Alabama.,ios,-87.073622,37.733368,nl,"[now, we, dont, get, to, see, Jalen, Hurts, v., Alabama.]",10
54,1198885923926114307,2019-11-25 08:47:33,IHi guys Im drunk,iphone,-116.236782,33.719138,lt,"[IHi, guys, Im, drunk]",4
62,1165672474152976385,2019-08-25 17:09:09,Im Walmart like... yall go get my Onlyfans,iphone,-81.462392,28.515472,sv,"[Im, Walmart, like..., yall, go, get, my, Onlyfans]",8
78,1193919489970200578,2019-11-11 15:52:43,"Walking to work (@ Roses in Oak Ridge, FL)",Foursquare,-81.407386,28.487601,af,"[Walking, to, work, (@, Roses, in, Oak, Ridge,, FL)]",9
79,1198040435240980480,2019-11-23 00:47:52,I love pee dees steakhouse,iphone,-73.942827,40.794213,nl,"[I, love, pee, dees, steakhouse]",5

In [ ]:
df_not_en2.to_csv('data//data_not_english.csv')

## 3. Translate

In [4]:
df = pd.read_csv('data//data_not_english.csv')
df.shape

(10188, 12)

In [5]:
from google_trans_new import google_translator  
translator = google_translator()

### Incase of error: *JSONDecodeError Extra Data* 
- open the google_trans_new.py installed in your environment. 
- Change line 151 in google_trans_new/google_trans_new.py which is: response = (decoded_line + ']') to response = decoded_line
- Recurrent errors; follow https://stackoverflow.com/questions/68214591/python-google-trans-new-translate-raises-error-jsondecodeerror-extra-data

In [6]:
# Checking if translator works 
translate_text = translator.translate("Der Himmel ist blau und ich mag Bananen", lang_tgt='en')  
print(translate_text)

The sky is blue and I like bananas

In [7]:
# Creating list and Index to translate and save each translated result to avoid restarting
# Make sure to run this cell only once to avoid overwritting existing results. 
translated_values = []
currentindex = 0

In [15]:
currentindex

4996

In [14]:
for index, row in df.iloc[currentindex:].iterrows():
        translated_values.append(translator.translate(row['text'], lang_tgt = 'en'))
        print("Added  " + row['text'] )
        print("Index  " + str(currentindex) )
        currentindex = currentindex + 1
#return translated_values

google_new_transError: 429 (Too Many Requests) from TTS API. Probable cause: Unknown

In [12]:
df = df.drop()

In [16]:
df = df.head(4996)

In [ ]:
df.shape

In [17]:
# Appending translated values to dataframe
df_trans = df.assign(de_text=translated_values)
df_trans.shape

(4996, 13)

In [19]:
df_trans[['text','de_text']].tail()

                              text                            de_text
4992       @cloakzy drop merch pls           @cloakzy drop merch pls
4993  Un Sobador, cura de empacho.  A bobber, cure of embarrassment.
4994             Lo DM en pleno TL                 The DM in full TL
4995      Supongo que la A no haba                   I guess the one
4996                  Te lleg la ?                    Do you get it?

In [20]:
df.columns

Index(['Unnamed: 0.2', 'Unnamed: 0', 'Unnamed: 0.1', 'id', 'date', 'text',
       'source', 'longitude', 'latittude', 'split_text', 'WordsCount', 'lang'],
      dtype='object')

In [21]:
df_trans.to_csv('data//data_non_eng_trans4996K.csv')