## Join geocoded locations and compute Dispalcement

In [1]:
# Loading required packages for geocoding with Nominatim

import geopandas as gpd 
import geopy
import matplotlib.pyplot as plt
from functools import partial 
from geopy import distance
from geopy.distance import geodesic
from tqdm import tqdm, tqdm_notebook # progress bar

#initiate 
tqdm.pandas()
import pandas as pd, numpy as np

In [ ]:
#Defining files to be geocoded
unique_files = ['FAC.csv', 'GPE.csv','ORG.csv','LOC.csv', 'FAC_GPE.csv','LOC_GPE.csv', 'ORG_GPE.csv']

# Defining the address columns within corresponding files 
address_column_names = [elem.split('.')[0] for elem in unique_files]

In [ ]:
results = 'Geocoding/displacement'
ressources = 'Geocoding/nom_coords'
for unique_file  in unique_files:
    ressource_path =  ressources +'/nom_geocoded_' + unique_file
    result_path =  ressources +'/dist_nom_' + unique_file
    df = pd.read_csv(ressource_path)
    df['distance_google'] = df.apply(lambda row: distance_calc (row),axis=1)
    df.to_csv(result_path)

In [28]:
df = pd.read_csv('Geocoding//geocoded_joined//nom_LOC_full.csv')
df.head(2)

,Unnamed: 0,id_x,date,source,TE,lang,en_text,LOC,location,geom_long,geom_lat,nlat,nlong
0,0,3412188,10-Apr-20,Android,Apr-10,fr,@_Amixem #lavueDepuismonfinement with the St. ...,the St.Lawrence Cach River,NaN,-69.498244,47.917575,NaN,NaN
1,1,3416128,15-Apr-20,instagram,Apr-16,en,"Ready, set, order... Only for free delivery in...",Treasure Valley,"Treasure Valley, Claremont, Los Angeles County...",-116.390330,43.611290,34.151751,-117.692426

In [1]:
# Distance function

def distance_calc (row):
    start = (row['geom_lat'], row['geom_long'])
    stop = (row['nlat'], row['nlong'])
    try:
        return geodesic(start, stop).km
    except ValueError:
        return np.nan
# try, except used to catch error when computing Null values on coordinates

In [30]:
df['distance_google'] = df.apply(lambda row: distance_calc (row),axis=1)
df.head(1)

,Unnamed: 0,id_x,date,source,TE,lang,en_text,LOC,location,geom_long,geom_lat,nlat,nlong,distance_google
0,0,3412188,10-Apr-20,Android,Apr-10,fr,@_Amixem #lavueDepuismonfinement with the St. ...,the St.Lawrence Cach River,NaN,-69.498244,47.917575,NaN,NaN,NaN

In [31]:
df.to_csv('Geocoding//displacement//dist_nom_LOC_full.csv')