# Join Google Maps locations

In [ ]:
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

In [ ]:
df = pd.read_csv('Geocoding//data//final_posts.csv')
df1 = pd.read_csv('Geocoding//google_coords//google_LOC_FAC_GPE.csv')
print(df.shape, df1.shape)

In [ ]:
df2 = pd.merge(df, df1, left_on='LOC_FAC_GPE', right_on = 'input_string')
df2 = df2[['id','date','source','TE','lang','en_text','LOC_FAC_GPE', 'formatted_address', 'geom_long', 'geom_lat','lat','long', 'number_of_results']]
df2.head()

In [ ]:
df2.shape

In [ ]:
df2.to_csv('Geocoding//geocoded_joined//google_LOC_FAC_GPE_full.csv')

# Join Nominatim

In [1]:
import pandas as pd 
import warnings 
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('Geocoding//data//final_posts.csv')
df1 = pd.read_csv('Geocoding//nom_coords//nom_LOC.csv')
print(df.shape, df1.shape)

(17969, 30) (703, 6)

In [3]:
df1 = df1.drop(0)

In [4]:
df2 = pd.merge(df, df1, on='LOC')
df2 = df2[['id_x','date','source','TE','lang','en_text','LOC','location', 'geom_long', 'geom_lat','nlat','nlong']]
df2.head()

,id_x,date,source,TE,lang,en_text,LOC,location,geom_long,geom_lat,nlat,nlong
0,3412188,10-Apr-20,Android,Apr-10,fr,@_Amixem #lavueDepuismonfinement with the St. ...,the St.Lawrence Cach River,NaN,-69.498244,47.917575,NaN,NaN
1,3416128,15-Apr-20,instagram,Apr-16,en,"Ready, set, order... Only for free delivery in...",Treasure Valley,"Treasure Valley, Claremont, Los Angeles County...",-116.390330,43.611290,34.151751,-117.692426
2,3435461,07-Apr-20,hootsuite,55,en,Come for a tour of this gorgeous 2 bedroom bun...,Georgian Bay,"Georgian Bay, Ontario, Canada",-79.885995,44.748314,45.235859,-80.757251
3,3443929,05-Apr-20,iOS,1885,en,Just noticed that Hill Valley in 1885 is flyin...,Hill Valley,"Hill Valley, VIA CINECITTA', Ogawacho, Kawasak...",-76.631232,39.340851,35.528082,139.697759
4,3454157,16-Feb-20,untappd,1955,en,Drinking a Here's the Scoop by @three3sbrew @ ...,Hill Valley,"Hill Valley, VIA CINECITTA', Ogawacho, Kawasak...",-74.273900,40.260100,35.528082,139.697759

In [5]:
df2.shape

(860, 12)

In [6]:
df2.to_csv('Geocoding//geocoded_joined//nom_LOC_full.csv')